<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Hello! This is index.html</h1>
    {{ insert_me }}

    <p>This is the picture of Django Logo</p>
    <img src="{% static 'images/django.png' %}" alt="logo" width="100">

    <h2>Here youre access records:</h2>
    <div class="djangtwo">
      {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No access records found.</p>
      {% endif %}
</body>
</html>